.box {
  display: flex;
  align-items: center;
  max-width: 470px;
  margin: 24px auto 24px;
  padding: 0 4px 4px;
  background-color: inherit;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid var(--background-dark-color);
  box-shadow: 0 4px 8px var(--secondary-shadow);
  transition: box-shadow var(--transition);
}

.box:hover,
.box:focus {
  box-shadow: 0 8px 16px var(--accent-secondary-shadow);
}

.input {
  border-radius: 4px;
  padding: 8px;
  display: block;
  padding: 8px;
  outline: none;
  border: none;
  font-size: larger;
  background-color: inherit;
  width: 100%;
}

.icon {
  color: rgba(57, 83, 108, 0.6);
}

.input::placeholder {
  color: rgba(57, 83, 108, 0.6);
}
