.errorBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.iconMain {
  margin: 0 auto;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.text {
  text-align: center;
}

@media (min-width: 720px) {
  .error {
    flex-direction: row;
  }
}
